<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Compte Web Application</title>

<style>
body {
	padding-top: 50px;
}

.special {
	padding-top: 50px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Syst&egrave;me de gestion des
					comptes</a>
			</div>
		</div>
	</nav>


	<div class="container special">

		<h2 class="h2">Ajout d'une nouvelle op&eacute;ration</h2>
		<div>
			<form method="post"
				th:action="@{/sauvegarderLigne}" th:object="${ligne}">
				<div class="form-group">
					<input
						type="hidden" th:field="*{numeroCompte}" class="form-control">
				</div>
				<div class="form-group">
					<label for="descriptionInput">Description</label> 
					<input
						type="text" th:field="*{description}" class="form-control" id="descriptionInput" required
						aria-describedby="nomHelp" placeholder="Saisir la description"> <small
						id="descriptionHelp" class="form-text text-muted">Merci d'&eacute;crire la description de l'op&eacute;ration.</small>
				</div>
				<div class="form-group">
					<label for="categorieInput">Cat&eacute;gorie</label> 
					<input
						type="text" th:field="*{categorie}" class="form-control" id="categorieInput" required
						aria-describedby="categorieHelp" placeholder="Saisir la catégorie"> <small
						id="categorieHelp" class="form-text text-muted">Merci d'&eacute;crire la Cat&eacute;gorie de l'op&eacute;ration.</small>
				</div>
				<div class="form-group">
					<label for="montantInput">Montant</label> 
					<input
						type="number" step="0.01" th:field="*{montant}" class="form-control" id="montantInput" required
						aria-describedby="montantHelp" placeholder="Saisir le montant"> <small
						id="montantHelp" class="form-text text-muted">Merci d'&eacute;crire le montant de l'op&eacute;ration.</small>
				</div>
				<div class="form-group">
					<label for="dateInput">Date</label> 
					<input
						type="date" name= "dateOperation" th:value="${dateOperation}" class="form-control" id="dateInput" required
						aria-describedby="dateHelp" placeholder="Saisir la date"> <small
						id="dateHelp" class="form-text text-muted">Merci d'&eacute;crire la date de l'op&eacute;ration.</small>
				</div>

				<button type="submit" class="btn btn-primary">Cr&eacute;er</button>
				<a th:href="@{/afficherCompte/{id}(id=${numeroCompte})}" class="btn btn-default">Annuler</a>
			</form>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>
